.scroller .inner img {
  height: 250px;
}
.scroller .inner {
  display: flex;
  overflow: scroll;
  transition: transform 0.3s ease;
}
.scroller {
  width: 400px;
  height: 250px;
  overflow: hidden;
}
.scroller .inner::-webkit-scrollbar {
  display: none;
}
